.diningCourt-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.diningCourt-food {
  padding: 2em;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 40em;
  min-height: 10em;
  background-color: #cfb991;
  box-shadow: 2px 2px 1px 1px #808080;
  margin-bottom: 5em;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 900px) {
  .diningCourt-food {
    width: auto;
    margin-bottom: 2em;
  }
}
