.dish-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 5em;
  margin: 1em;
  border-bottom: 1px solid gray;
  border-radius: 0;
  color: black;
}

.dish-title {
  max-width: 10em;
}

.dish-avgRating {
  font-size: small;
}

@media screen and (max-width: 600px) {
  .dish-cont {
    font-size: small;
  }
}
