.card-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 15.5em;
  height: 15.5em;
  background-color: #cfb991;
  box-shadow: 1px 3px 5px 1px #808080;
  margin: 1em;
}

.card-cont:active,
.card-cont:hover,
.card-cont:focus {
  outline: none;
}

.boilermaker {
  width: 2.5em;
  height: 3em;
}
